.intro-text{
    margin-left: 20px;
    margin-right: 20px;
}

.highlighted-minecraft{
    font-size: 35px;
    margin-right: 10px;
    color: #fff;
    text-shadow: 7px 7px black;
}

.enumeration-minecraft-is ul{
    list-style:none;
    display: flex;
    flex-direction: row
}

.enumeration-minecraft-is{
    text-align: center;
    
}

.icon-card a{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
}

.icon-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px 10px 10px 10px;
    gap: 30px;
    align-items: center;
}